body{

font-family:Arial;

background:#0f0f0f;

color:white;

text-align:center;

padding:20px;

}

h1{

color:#00ffc3;

}

input{

padding:12px;

width:80%;

border-radius:8px;

border:none;

}

.tools{

margin-top:20px;

display:grid;

grid-template-columns:repeat(auto-fit,minmax(150px,1fr));

gap:10px;

}

button{

padding:10px;

border:none;

border-radius:10px;

background:#00ffc3;

cursor:pointer;

}

#result{

margin-top:25px;

background:#1c1c1c;

padding:20px;

border-radius:10px;

}
